.popup .modal-content {
   flex-direction: row;
   padding: 3rem 0;
}
.popup .img-container {
   width: 50%;
   flex-shrink: 0;
}
.popup .img-container img {
   display: block;
   max-width: 100%;
}
.popup .content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 3rem;
}
.popup .content .title {
   font-style: italic;
   font-size: 2rem;
}
.popup .content .price {
   margin-bottom: 0;
   color: gray;
   font-size: 1.5rem;
}
.popup .content .desc {
   color: rgba(128, 128, 128, 0.6);
   text-align: justify;
}
.popup .content .btn {
   padding: 0.5rem 2rem;
   text-align: center;
   min-width: max-content;
   background-color: black;
   color: white;
   align-self: flex-start;
}
.popup .content .btn svg {
   margin-right: 0.5rem;
}