.checkout .breadcrumb-item {
   color: gray;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 500;
   font-style: italic;
}
.checkout .breadcrumb-item a {
   text-transform: uppercase;
   text-decoration: none ;
   color: black;
}
.checkout form .form-group {
   margin-bottom: 1rem;
}
.checkout form label {
   margin-bottom: 0.5rem;
   font-size: 0.75rem;
   font-style: italic;
   color: gray;
}
.checkout form input {
   border-radius: 0;
   font-size: 0.75rem;
}
.checkout form input::placeholder {
   color: gray;
}

.checkout .form-btn {
   padding: 0.5rem 1rem;
	background-color: #494949;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.7);
	line-height: 1.2;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.checkout .form-btn:hover {
   background-color: #292929;
}
